.roomsSection {
  padding: 60px 0px;
  background-color: var(--color-surface-2);
}

.roomsGrid {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin-top: 40px;
}