.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 8px; /* spacing between view and delete buttons */
  height: 100%;
}

.buttonsContainer button:not(.closeButton) {
  width: 100%;
  min-width: 98px
}

.closeButton, .overviewButton {
  border: none;
  outline: none;
  cursor: pointer;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #dc143c;
  background-color: #fff;
  border-radius: 50%;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overviewButton {
  background-color: var(--color-accent);
  color: #fff;
  transition: all 150ms linear;
  padding: 12px;
  border-radius: var(--radius-md);
}

.overviewButton:hover {
  background-color: var(--color-accent-strong);
}