.bookingBtn {
  padding: 12px 24px;
  border-radius: 999px;
  background-color: var(--color-accent);
  color: #fff;
  transition: all 300ms linear;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
}

.bookingBtn:not(:disabled):hover {
  background-color: var(--color-accent-strong);
}

.bookingBtn:disabled {
  background-color: #c9c9c9;
  cursor: not-allowed;
}

