.formButton {
  padding: 16px 48px;
  border-radius: 999px;
  background-color: var(--color-accent);
  color: #fff;
  font-size: 17px;
  display: inline-block;
  cursor: pointer;
  transition: all 150ms linear;
  outline: none;
  border: none;
  font-weight: 600;
}

.formButton:not(:disabled):hover {
  background-color: var(--color-accent-strong);
}

.formButton:disabled {
  background-color: #c9c9c9;
  cursor: not-allowed;
}

