.formSection {
  padding: 48px 20px 64px;
  background-color: var(--color-bg);
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-content: center;
}

